<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Регистрация на сборы</h1>
        <form method="POST" action="/coach-tcamp-reg">
            <h2>Спортсмены</h2>
            <input type="hidden" id="smID" name="smID">
            <div class="table-container">
                <table id="smTable">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>ФИО</th>
                        <th>Дата рождения</th>
                        <th>Пол</th>
                        <th>Разряд</th>
                        <th>Сборная Москвы</th>
                    </tr>
                    {{range .Sportsmen}}
                    <tr class="interactive-tr">
                        <td style="display:none;">{{.ID}}</td>
                        <td>{{.Surname}} {{.Name}} {{.Patronymic}}</td>
                        <td>{{.Birthday}}</td>
                        <td class="gender-column">{{.Gender}}</td>
                        <td>{{.SportsCategory}}</td>
                        <td class="bool-column">{{.MoscowTeam}}</td>
                    </tr>
                    {{end}}
                </table>
            </div>


            <h2>Сборы</h2>
            <input type="hidden" id="campID" name="campID">
            <div class="table-container">
                <table id="campTable">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Город</th>
                        <th>Дата</th>
                    </tr>
                    {{range .TCamps}}
                    <tr class="interactive-tr">
                        <td style="display:none;">{{.ID}}</td>
                        <td>{{.City}}</td>
                        <td>{{.BegDate}}-{{.EndDate}}</td>
                    </tr>
                    {{end}}
                </table>
            </div>

            <button type="submit">Регистрация</button>
        </form>
    </div>

<script src="/static/js/script.js"></script>
<script>
    formatBoolCol();
    formatGenderCol();
    formatDateTbl('smTable', 2);
    formatRangeDateTbl('campTable', 2, 'UTC-');
    handleRowClick('smTable', 'smID');
    handleRowClick('campTable', 'campID');
    validateCampID();
    validateSmID();
</script>

</body>
</html>