<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Регистрация тренера</h1>
        <form method="POST" action="/coach-reg">
            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" required>

            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="patronymic">Отчество (если есть):</label>
            <input type="text" id="patronymic" name="patronymic">

            <label for="birthday">Дата рождения:</label>
            <input type="date" id="birthday" name="birthday" required>

            <fieldset>
                <legend>Пол:</legend>
            
                <div>
                <input type="radio" id="female" name="gender" value="true" checked />
                <label for="female">Женщина</label>
                </div>
            
                <div>
                    <input type="radio" id="male" name="gender" value="false"/>
                    <label for="male">Мужчина</label>
                </div>

            </fieldset>

            <label for="experience">Опыт работы:</label>
            <input type="number" id="experience" name="experience" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Регистрация</button>
        </div>
    </form>
</body>
</html>