<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спортсмен</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Здравствуйте, Тренер!</h1>
        <p><button onclick="window.location.href='/competitions'">Список соревнований</button></p>
        <p><button onclick="window.location.href='/tcamps'">Список сборов</button></p>
        <p><button onclick="window.location.href='/coach-results'">Результаты подопечных</button></p>
        <p><button onclick="window.location.href='/coach-sm-info'">Информация о подопечных</button></p>
        <p><button onclick="window.location.href='/coach-comp-reg'">Зарегистрировать спортсмена на соревнования</button></p>
        <p><button onclick="window.location.href='/coach-tcamp-reg'">Зарегистрировать спортсмена на сборы</button></p>
        <p><button onclick="window.location.href='/logout'">Выход</button></p>
    </div>
</body>
</html>