<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Секретарь</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Здравствуйте, Секретарь!</h1>
        <p><button onclick="window.location.href='/competitions'">Список соревнований</button></p>
        <p><button onclick="window.location.href='/tcamps'">Список сборов</button></p>
        <p><button onclick="window.location.href='/coach-sportsman'">Записать спортсмена к тренеру</button></p>
        <p><button onclick="window.location.href='/update-sportsman'">Обновить информацию о спортсмене</button></p>
        <p><button onclick="window.location.href='/logout'">Выход</button></p>
    </div>
</body>
</html>
