<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Организатор</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Здравствуйте, Организатор сборов!</h1>
        <p><button onclick="window.location.href='/competitions'">Список соревнований</button></p>
        <p><button onclick="window.location.href='/tcamps'">Список сборов</button></p>
        <p><button onclick="window.location.href='/tcamp-create'">Организовать сборы</button></p>
        <p><button onclick="window.location.href='/logout'">Выход</button></p>
    </div>
</body>
</html>